body {
    background: #f8f9fa;
}

.products-bottom .owl-carousel.nav-outer .owl-next,
.products-bottom .owl-carousel.nav-outer .owl-prev {
    top: 30%;
}

.flag.flag-bn {
    background-position: -32px -11px;
}

.header-bottom {
    display: none !important;
}

.header-bottom.fixed {
    display: block !important;
}

.header {
    background-color: #188b87;
}

.header-top {
    padding-top: 7px;
    padding-bottom: 7px;
    border-bottom: 0;
    color: #bde1f5;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 0.025em;
}

.sticky-header.fixed {
    background-color: #4db7b3;
    border-color: #4db7b3;
}

.menu-vertical>li {
    float: none;
    margin: 0;
    padding: 0 1rem 0 1rem;
}

.menu-vertical>li i {
    position: relative;
    margin-right: 8px;
    top: 0;
}

.menu-vertical>li>a {
    display: block;
    padding: .5rem 1rem .5rem 0.5rem;
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: capitalize;
    transition: none;
}

.menu-vertical.sf-arrows>li>.sf-with-ul:before {
    top: 50%;
    bottom: auto;
    left: calc(95% - 12px);
    margin: -10px 0 0;
    border-width: 10px 12px 10px 0;
    border-color: transparent;
    border-right-color: #fff;
    transition: 0.2s;
}

.menu-vertical.sf-arrows>li>.sf-with-ul:after {
    content: "";
    position: absolute;
    right: 2.8rem;
    color: #838b90;
    font-size: 2rem;
    top: 0px;
}

.sticky-wrapper {
    background: #4db7b3;
}

.menu-vertical>li.active,
.menu-vertical>li.show,
.menu-vertical>li:hover {
    background: transparent;
}

.menu-vertical>li:hover {
    background: #eff3f3;
}

.menu-vertical>li.active a,
.menu-vertical>li.show a,
.menu-vertical>li:hover a {
    color: #188b87;
}

.menu-vertical>li:hover .banner-content a {
    color: white !important;
}

.info-boxes-container .info-box {
    padding: 0 1.2rem;
}

.menu-vertical>li:not(:first-child)>a {
    border: 0;
    margin-top: 0px;
}

.side-menu-wrapper,
.home-slider img {
    height: 330px;
    border-radius: 12px;
}

.home .products-section {
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
}

.product-price {
    color: #222529;
    font-size: 1.4rem;
    line-height: 1;
}

.inner-quickview figure .btn-quickview {
    background-color: #4db7b3;
}

.product-default a:hover,
a:focus,
a:hover {
    color: #4db7b3;
}

.category-content h3 {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.35;
    font-family: "Open Sans", sans-serif;
    letter-spacing: -0.005em;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.info-box {
    color: #188b87;
}

.products-section .section-title {
    margin-bottom: 2.4rem;
    padding-bottom: 1.1rem;
    font-size: 1.6rem;
    color: #6d6d6d;
    font-weight: normal;
}

.section-sub-title {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: normal;
    color: #6d6d6d;
}

.content-center-bottom .category-content h3,
.content-center-bottom .category-content span {
    margin-bottom: 0;
    color: #188b87;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1.8rem;
    color: #444;
    font-weight: 700;
    line-height: 1.1;
    font-family: Poppins, sans-serif;
}

.ratings-container .ratings::before {
    content: "";
    color: #4db7b3;
}

#scroll-top.fixed {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    color: #FFF;
    width: 49px;
    height: 48px;
    right: 10px;
    text-align: center;
    text-decoration: none;
    z-index: 996;
    transition: background 0.3s ease-out;
    background: rgb(77, 183, 179);
}

.btn-dark {
    border-color: #188b87;
    background-color: #188b87;
    color: #fff;
    box-shadow: none;
}

.bg-dark {
    background-color: #364559 !important;
}

.menu-banner.menu-banner-2 .btn {
    position: absolute;
    bottom: 10px;
    padding: 8px 32px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;
    font-weight: 300;
    color: white !important;
}

.product-default .product-title {
    max-width: 100%;
    font-weight: lighter;
    font-size: 1.5rem;
    font-family: Poppins, sans-serif;
    line-height: 1.35;
    letter-spacing: 0.005em;
    margin-bottom: 0.4rem;
}

.product-price {
    color: #188b87;
    font-size: 1.4rem;
    line-height: 1;
}

.info-box h4 {
    color: inherit;
    margin-bottom: 0;
    font-size: 1.4rem;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.1;
}

.header-contact a {
    display: block;
    font-size: 1.8rem;
    font-weight: normal;
    white-space: nowrap;
}

.header-contact a:hover {
    color: lightgray;
}

.product-nav-thumbs a:hover,
.product-nav-thumbs span:hover {
    border-color: #65c0bc;
}

.inner-icon figure .btn-icon:hover {
    background-color: #65c0bc;
    border-color: #65c0bc;
    color: #fff;
}

.categories-slider .category-content {
    padding: 2rem 3.3rem;
}

.content-center-bottom .category-content {
    bottom: 0;
    transform: none;
    padding: 20.4px 0;
}

.categories-slider h3::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: skew(-20deg);
    background: #fff;
}

.home-slider .owl-dots .owl-dot.active span,
.home-slider .owl-dots .owl-dot:hover span {
    border-color: #188b87;
}

.home-slider .owl-dots .owl-dot.active span::before,
.home-slider .owl-dots .owl-dot:hover span::before {
    width: 4px;
    height: 4px;
    background: #188b87;
}

.page-header .breadcrumb a {
    color: #188B87;
}

.login-container .heading .title {
    margin-bottom: 0;
    font-size: 1.7rem;
    letter-spacing: -0.01em;
}

.login-container form {
    margin-bottom: 35px;
}

a {
    transition: all 0.3s;
    color: #188B87;
    text-decoration: none;
}

.page-header {
    padding: 1.5rem 0;
    color: #222529;
    background-color: #f4f4f4;
    text-align: center;
}

.card.card-accordion {
    margin-bottom: 0.5rem;
    padding: 0;
    border: 0;
    padding: .3rem 2rem;
    border-radius: 12px;
}